body {
    margin: 0px;
}

.container {
    margin: auto;
    width: 80%;
    display: flex;
}

.box {
    margin: 50px 40px;
    text-align: center;
    width: 25%;
}

.a{
    color: yellow;
}

.b{
    color: green;
}

.c{
    color: blue;
}

.d {
    color: black;

}