* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: #0e0e1e;
}

.content {
    max-width: 90%;
    margin: auto;
    background-color: #171e22;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.item {
    max-width: 100%;
    margin: 0px 10px;
}

img {
    width: 230px;
    height: 230px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s;
    border-bottom: 5px solid transparent;
}

img:hover {
    box-shadow: 0px 5px 11px 1px #efad62;
}

.game-img img:hover{
    border-bottom: 5px solid yellow;
}

.game-img2 img:hover {
    border-bottom: 5px solid rgb(217, 222, 225);
}

.game-img3 img:hover {
    border-bottom: 5px solid rgb(255, 0, 0);
}

.game-img4 img:hover {
    border-bottom: 5px solid rgb(0, 162, 255);
}

.game-img5 img:hover {
    border-bottom: 5px solid rgb(31, 2, 249);
}

h2 {
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin: 20px;
}

.info h3, p {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.info h3 {
    color: #fff;
    font-weight: bold;
    line-height: 1.5;
    width: 75%;
    margin-top: 3px;
    transition: 0.3s;
}

.info p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    margin-bottom: 50px;
}

.game-hot > img{
    border-bottom: 7px solid rgb(92, 248, 92);
}

.game-hot2 > img{
    border-bottom: 7px solid rgb(255, 0, 0);
}

.game-hot3 > img{
    border-bottom: 7px solid rgb(80, 61, 251);
}

.game-hot4 > img{
    border-bottom: 7px solid rgb(250, 99, 91);
}

.game-hot5 > img{
    border-bottom: 7px solid rgb(255, 132, 0);
}

.info h3:hover {
    color: #dd163b;
}

.info a { 
    text-decoration: none;
}

span {
    color: #dd163b;
}

.title-line {
    display: flex;
}

.line {
    margin-top: 42px;
    background: #293139;
    width: 100%;
    height: 4px;
    flex: 1;
}

h1 {
    color: #fff;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    margin: 20px;
}